<ul id="window-navigation" ng-controller="navigation/NavigationController">
    <li ng-class="{ 'active': navigation === 'dashboard' }">
        <a href="#!/dashboard" ng-click="navigation = 'dashboard'">
            <i class="fa fa-file"></i>
        </a>
    </li>
    <li ng-class="{ 'active': navigation === 'settings' }">
        <a href="#!/settings" ng-click="navigation = 'settings'">
            <i class="fa fa-cogs"></i>
        </a>
    </li>
    <li ng-class="{ 'active': navigation === 'help' }">
        <a href="#!/help" ng-click="navigation = 'help'">
            <i class="fa fa-info"></i>
        </a>
    </li>
</ul>