html, body {
    background-color: #4C4A48;
    color: #FFF;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

#viewport {
    background-color: #1E1E1E;
    bottom: 0;
    left: 46px;
    right: 0;
    overflow: auto;
    position: absolute;
    top: 0;
}

#viewport.sidebar-active {
    padding-left: 263px;
}

#window-navigation {
    background-color: #343434;
    bottom: 0;
    color: #999;
    left: 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 0;
    width: 46px;
}

#window-navigation li:first-child {
    margin-top: 30px;
}

#window-navigation li,
#window-navigation li a {
    color: #999;
    display: block;
    font-size: 16px;
    line-height: 46px;
    height: 46px;
    overflow: hidden;
    text-align: center;
    width: 46px;
}

#window-navigation li:hover,
#window-navigation li a:hover {
    background-color: #505050;
    color: #E1E1E1;
}

#window-navigation li.active,
#window-navigation li.active a {
    background-color: #1E1E1E;
    color: #FFF;
}


#window-project {
    border-right: 3px solid #5C5A58;
    bottom: 0;
    cursor: default;
    font-size: 14px;
    font-weight: 100;
    left: 0;
    overflow: auto;
    padding: 10px 5px;
    position: absolute;
    user-select: none;
    top: 0;
    width: 250px;
}

#window-project ul,
#window-project ul > ul {
    display: block;
    line-height: 20px;
    list-style: none;
}

#window-project ul {
    margin: 0;
    padding: 0;
}

#window-project ul ul {
    margin-left: 20px;
}

#window-project ul li {
    height: 20px;
    text-overflow: ellipsis;
}

#window-project ul li a {
    color: #CCC;
    text-decoration: none;
}

#window-project ul li a i {
    font-size: 12px;
}