.extension-gitignore a span {
    color: greenyellow;
}
.extension-gitignore a i {
    color: greenyellow;
}

.extension-gitattributes a span {
    color: greenyellow;
}
.extension-gitattributes a i {
    color: greenyellow;
}



.extension-js a span {
    color: #FFF;
}
.extension-js a i {
    color: red;
}

.extension-json a span {
    color: #FFF;
}
.extension-json a i {
    color: salmon;
}

