<div id="window-project" ng-controller="project/ProjectController">
    <ul>
        <li class="project">
            <i class="far fa-folder-open"></i> Project
            <ul>
                <li class="directory">
                    <a href="#!/dashboard">
                        <i class="far fa-folder"></i>
                        <span>node_modules</span>
                    </a>
                </li>
                <li class="directory">
                    <a href="#!/dashboard">
                        <i class="far fa-folder"></i>
                        <span>public</span>
                    </a>
                </li>
                <li class="file extension-gitattributes">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>.gitattributes</span>
                    </a>
                </li>
                <li class="file extension-gitignore">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>.gitignore</span>
                    </a>
                </li>
                <li class="file extension-js">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>Gruntfile.js</span>
                    </a>
                </li>
                <li class="file extension-html">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>index.html</span>
                    </a>
                </li>
                <li class="file extension-js">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>index.js</span>
                    </a>
                </li>
                <li class="file">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>LICENSE</span>
                    </a>
                </li>
                <li class="file extension-json">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>package.json</span>
                    </a>
                </li>
                <li class="file extension-json">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>package-lock.json</span>
                    </a>
                </li>
                <li class="file extension-md">
                    <a href="#!/dashboard">
                        <i class="far fa-file"></i>
                        <span>README.md</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>